.container {
  max-width: 1120px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 944px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 688px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 335px;
  }
}